<div class="row">
    <div class="col-sm">
        <div class="form-group">
            <input type="text" [(ngModel)]="task.title" class="form-control input" [ngClass]="{'completed':task.completed === true}" [disabled]="!editable">
        </div>
    </div>
    <div class="col-">
        <div>
            <button class="btn btn-success" (click)="emitComplete()" *ngIf="task.completed === false">
                <fa-icon [icon]="faCheck"></fa-icon>
            </button>
            <button class="btn btn-primary" (click)="emitNoComplete()" *ngIf="task.completed === true">
                <fa-icon [icon]="faCheck"></fa-icon>
            </button>
        </div>
        <div>
            <button class="btn btn-warning" (click)="enableEdit()" [disabled]="task.completed === true" *ngIf="editing===false">
                <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button class="btn btn-warning" (click)="emitEdit()" [disabled]="task.completed === true" *ngIf="editing===true">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button> 
        </div>
        <div>
            <button class="btn btn-danger" (click)="emitDelete()">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
</div>
